<div class="container">
    <div class="row navBackground">
      <div class="col">
      <ul class="nav nav-pills">
          <li role="presentation"><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li role="presentation" ><a routerLink="/history" routerLinkActive="active">History</a></li>
          <li role="presentation"><a routerLink="/team" routerLinkActive="active">Team</a></li>
          <li role="presentation"><a routerLink="/videos" routerLinkActive="active">Videos</a></li>
          <li role="presentation"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
